## Importing DataFrame from .csv file created in Part 1

In [34]:
import pandas as pd
df = pd.read_csv("/Users/aputti/Python Project/Toronto_Clustering_part1.csv")
df

    PostalCode      Borough                                       Neighborhood
0          M1B  Scarborough                                     Malvern, Rouge
1          M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2          M1E  Scarborough                  Guildwood, Morningside, West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101        M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102        M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

## Reading Latitude/Longitudes for the Boroughs from the .csv file provided

In [10]:
url='http://cocl.us/Geospatial_data'
df_ll=pd.read_csv(url)
df_ll

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

#### Renaming "Postal Code" coloumn to align with coloumn name in the DataFrame "df"

In [21]:
df_ll.columns = ['PostalCode', 'Latitude', 'Longitude']
df_ll.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

#### We confirm that number of Postal Codes in the Borough DataFrame (df) and the Lat/Long DataFrame (df_ll) match

In [22]:
print('No. of Postal Codes in DataFrame "df" are {}'.format(df['PostalCode'].count()))
print('No. of Postal Codes in DataFrame "df_ll" are {}'.format(df_ll['PostalCode'].count()))

No. of Postal Codes in DataFrame "df" are 103
No. of Postal Codes in DataFrame "df_ll" are 103

## Merging the two DataFrames

In [24]:
toronto_df=pd.merge(df,df_ll, on = 'PostalCode')
toronto_df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

#### Diplaying the number of rows and coloumns in the New DataFrame

In [28]:
toronto_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 0 to 102
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PostalCode    103 non-null    object
 1   Borough       103 non-null    object
 2   Neighborhood  103 non-null    object
 3   Latitude      103 non-null    float64
 4   Longitude     103 non-null    float64
dtypes: float64(2), object(3)
memory usage: 4.8+ KB

### Exporting the DataFrame to .csv file that can be used in the Notedbook for Part 3 of this project

In [29]:
toronto_df.to_csv('Toronto_PostalCodes.csv', header=True, index=False)

# End of Part 2